user_uuid="857dd0d8-d5ef-42e3-b355-7139ef541bf4"
bucket_name="biu3rofp4wbba90uigweru590vzkhob5"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"